.SearchBar {
    width: fit-content;
    margin: 20px auto; 
    display: flex;
    justify-content: flex-start; 
    /* align-self: flex-start; */
}

.SearchBar form {
    display: flex; 
    width: 100%; 
}

.SearchBar input {
    flex: 4; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px; 
    outline: none;
    font-size: 1rem;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    width: 250px;
}

.SearchBar button {
    flex: 1; 
    padding: 10px;
    background-color: #007bff;
    color: white;
    /* border: 1px solid #007bff; */
    border: 1px solid #ccc;
    border-radius: 0 4px 4px 0; 
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    transition: background-color 0.3s; 
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.SearchBar button:hover {
    background-color: #0056b3; 
}

select {
    width: 70px;
    text-align: center;
    align-items: center;
}